.feedback-container {
        position:fixed;
        color: #fff;
        width:400px;
        height: 440px;
        margin-left: -198px;
        background: transparent;
        border-radius: 20px;
        backdrop-filter: blur(20px);
        box-shadow: 0 0 30px rgba(0,0,0,.5);
        display:flex;
        justify-content: center;
        align-items: center;  
        margin-left: -400px;
        margin-top: -160px;
        overflow: hidden;
        transition: transform .5s ease,height .2s ease;
        flex-direction: column;
        

  }
  
  .feedback-title {
    text-align: center;
  }
  
  .feedback-label {
    margin-bottom: 5px;
  }
  
  .feedback-textarea {
    width: 307px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }
  
  .feedback-submit-btn {
    display: block;
    margin-top: 10px;
    width: 100%;
  }

  .feedback{
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    margin-top: 5px;
    backdrop-filter: blur(20px);
  }
  
  .feedback-display-container{
    position: fixed;
    color: #fff;
    margin-left: 80px;
    margin-top: -180px;
    max-height: 450px;
    overflow-y: auto; 
  }


  
